-- Bootstrap Prisma migration tracking for the init migration that was applied manually.
-- Run this once in your Supabase SQL Editor.

CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                  VARCHAR(36) PRIMARY KEY NOT NULL,
    "checksum"            VARCHAR(64) NOT NULL,
    "finished_at"         TIMESTAMPTZ,
    "migration_name"      VARCHAR(255) NOT NULL,
    "logs"                TEXT,
    "rolled_back_at"      TIMESTAMPTZ,
    "started_at"          TIMESTAMPTZ NOT NULL DEFAULT now(),
    "applied_steps_count" INTEGER NOT NULL DEFAULT 0
);

INSERT INTO "_prisma_migrations"
    ("id", "checksum", "finished_at", "migration_name", "logs", "rolled_back_at", "started_at", "applied_steps_count")
VALUES
    ('b43f8f3e-6e1a-4a37-b9ca-bfbab2b1489f', '0897d920925871cb8316fa5b523f9c2c232dd43017e966aab559a55a7379a1eb', '2026-06-11T06:12:12.141Z', '20260611000000_init', NULL, NULL, '2026-06-11T06:12:12.141Z', 1)
ON CONFLICT ("id") DO NOTHING;
